#!/bin/sh

alias grep='grep --color=auto'
alias ls='colorls -AC --gs'
alias ll="ls -og --gs --time-style='+%b-%d %H:%M'"
alias llt="ll -og --gs --tree"

alias vim='nvim'
alias vdiff='nvim -d'

alias top='bpytop'

# Docker and  k8s stuff
alias k='kubectl'
alias d='docker'
alias kr='kubectl rabbitmq'
alias m='minikube'
alias lg='lazygit'


# Flutter 
alias f='flutter'

# Cursor 
alias ca='cursor-agent'

# THNX ExMeBus project
alias gidf='. $HOME/esp/esp-idf/export.sh'

alias adbweb="adb shell am start -a android.intent.action.VIEW -d"
