[include]
    # NOTE: This file is not tracked by git, so you can safely put your local settings here.
    path = ~/.gitconfig.local
[core]
	pager = delta
	editor = nvim
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    navigate = true    
    light = false      
    side-by-side = false  
    line-numbers = true   
    features = decorations	 
[delta "interactive"]
    keep-plus-minus-markers = true
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
